# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [21]:
import pandas as pd
import numpy as np

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [22]:
a = pd.Series(np.random.randint(1,4,100))
b = pd.Series(np.random.randint(1,3, 100))
c = pd.Series(np.random.randint(10000, 30000, 100))
print(f'{a}\n')
print(f'{b}\n')
print(f'{c}\n')

0     2
1     3
2     2
3     3
4     2
     ..
95    1
96    2
97    1
98    3
99    2
Length: 100, dtype: int32

0     1
1     2
2     1
3     1
4     2
     ..
95    1
96    2
97    1
98    1
99    2
Length: 100, dtype: int32

0     27121
1     27431
2     29341
3     13632
4     16020
      ...
95    20436
96    26991
97    19782
98    21236
99    19542
Length: 100, dtype: int32

### Step 3. Let's create a DataFrame by joinning the Series by column

In [23]:
df = pd.concat([a,b,c], axis=1)
df

    0  1      2
0   2  1  27121
1   3  2  27431
2   2  1  29341
3   3  1  13632
4   2  2  16020
.. .. ..    ...
95  1  1  20436
96  2  2  26991
97  1  1  19782
98  3  1  21236
99  2  2  19542

[100 rows x 3 columns]

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [24]:
df.rename(columns={0: 'bedrs', 1: 'bathrs', 2: 'price_sqr_meter'}, inplace=True)
df

    bedrs  bathrs  price_sqr_meter
0       2       1            27121
1       3       2            27431
2       2       1            29341
3       3       1            13632
4       2       2            16020
..    ...     ...              ...
95      1       1            20436
96      2       2            26991
97      1       1            19782
98      3       1            21236
99      2       2            19542

[100 rows x 3 columns]

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [25]:
bigcolumn = pd.concat([a,b,c])
bigcolumn

0         2
1         3
2         2
3         3
4         2
      ...
95    20436
96    26991
97    19782
98    21236
99    19542
Length: 300, dtype: int32

### Step 6. Oops, it seems it is going only until index 99. Is it true?

In [26]:
len(bigcolumn)
#False bec index dosen't change but length does

300

### Step 7. Reindex the DataFrame so it goes from 0 to 299

In [28]:
bigcolumn.reset_index(inplace=True, drop=True)
bigcolumn

0          2
1          3
2          2
3          3
4          2
       ...
295    20436
296    26991
297    19782
298    21236
299    19542
Length: 300, dtype: int32